K8S_DEPLOY_MODE= # auto | inCluster | external. Optional, defaults to auto

# For deploying to a remote K8s cluster
K8S_CLUSTER_NAME=
K8S_SERVER_URL=
K8S_SERVICE_ACCOUNT=
K8S_SERVICE_ACCOUNT_TOKEN=
K8S_SERVICE_ACCOUNT_NAMESPACE=
K8S_AGENTS_NAMESPACE=
K8S_CA_DATA=

# For deploying to the local cluster (where the app itself is hosted)
K8S_AGENTS_NAMESPACE= # Optional, defaults to app's namespace if missing
