# LLM
LLM_API_URI=""
LLM_API_KEY=""
MODEL=""

# Agent
AGENT_NAME=""
AGENT_DESCRIPTION=""
AGENT_INSTRUCTIONS=""
LISTEN_PORT=""
MCP_SERVERS=""

# Auth
## Use EITHER
AGENT_API_KEY=""
## OR
OAUTH2_ISSUER_URL=""
OAUTH2_JWKS_URL="" # Optional override, discovered if missing
## OR
NO_AUTH=1
